<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnCoSo.Properties.Settings.QLNhacCuConnectionString"
            connectionString="Data Source=NGUYENMINH\MYSQL;Initial Catalog=QLNhacCu;User ID=sa;Password=0944704470t"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>